@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="text-center">
    <h4>
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
       Unexpected error occurred.
    </h4>
</div>


