@using PrivateLabelLite.Entities.Common;
<div class="modal fade" id="termsAndConditionsPopup" tabindex="-1" role="dialog" aria-labelledby="termsAndConditionsPopup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@ConfigKeys.ApplicationName Terms And Conditions</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div style="word-break:keep-all; overflow-x: hidden; white-space:pre-line; margin:15px;">
                        {{siteTermsAndConditions}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>



