@model PrivateLabelLite.Models.EmailModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <p>
        <img src="~/Assets/images/click_here.png" />   
        </p>
    </div>
</body>
</html>