@model PrivateLabelLite.Models.SubscriptionSummaryModel
@using PrivateLabelLite.Entities.Common;
@using PrivateLabelLite.Helper;
@{
    ViewBag.Title = "Home";
}

<div>
@{Html.RenderPartial("SalesOrderMapping");}
</div>
